{% extends "parent/base.html" %}{% load static %}

{% block head %}
{% endblock %}

{% block content %}
<main class="form-signin text-center">
  <div class="card mx-auto mt-5" style="max-width:35rem;">
    <div class="card-body">
      <form action="/login/" method="POST">{% csrf_token %}
        <h1 class="mt-4 mb-4">SIGLO XXI</h1>
        <h1 class="h3 mt-4 mb-4 fw-normal">LOGIN</h1>

        <div class="form-floating mt-2 mb-2">
          <input type="text" class="form-control" id="txt-usuario" name="usuario" placeholder="name@example.com">
          <label for="txt-usuario">USUARIO</label>
        </div>
        <div class="form-floating mt-2 mb-2">
          <input type="password" class="form-control" id="txt-password" name="password" placeholder="password">
          <label for="txt-password">PASSWORD</label>
        </div>
        <button class="w-100 btn btn-lg btn-primary" type="submit">Sign in</button>
        <p class="mt-5 mb-3 text-muted">© 2022</p>
      </form>
    </div>
  </div>
</main>
{% endblock %}